body{
    background-image: linear-gradient(30deg, rgb(5,28,82), rgb(252, 135, 6));
    height: 100vh;
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#img{
    flex-direction: column;
    line-height: 15px;
    background-size: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    color: rgb(5,28,82);
    transition: 0.3s all;
}

#inscreva-se-btn{
    border: 2px solid rgb(252, 135, 6);
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover{
    border: 2px solid rgb(5,28,82);
    background-color: rgb(5,28,82);
    color: white;
}

h1{
    font-weight: 500px;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

article{
    width: px;
    
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: rgb(252, 135, 6);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 250px;
    margin-top: 50px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(252, 135, 6);
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
   cursor: pointer;
}


input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
